@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.presentacion-fondo {
  background-color: #EDECF4;
  padding-top: 150px;
  padding-left: 255px;
  padding-right: 255px;
}

.image-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  align-items: start; 
  margin-bottom: -00px;
}

.image-grid img {
  
  border-radius: 10px; 
}

.prueba {
  margin-top: -210px;
}


.presentacion-imagen-1 {
  height: 384px;
  width: 336px; 
  transform: translate(-20%, 30%);
}

.presentacion-imagen-2 {
  transform: translate(-17%, -20%);
  height: 384px;
  width: 336px;
}

.presentacion-imagen-3 {
  transform: translate(87%, -15%);
  height: 384px;
  width: 336px;
}

@media (min-width: 768px) {
  .image-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
  }
}

.presentacion-title {
  font-size: 64px;
  font-weight: 500;
  color: #FFC700;
  font-family: 'Oswald';
}

.presentacion-text {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 800;
  color: #070C33;
  font-family: 'Open Sans';
}

.presentacion-subtext1{
  color: #05041E;
  font-size: 20px;
  padding-bottom: 40px;
  font-family: 'Open Sans';
}

.btn-warnings{
  background-color: #FFC40C;
  border-radius: 40px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  height: 64px;
  width: 272px;
}

.btn-warnings-2{
  border: #FFC40C 4px solid;
  border-radius: 40px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  height: 64px;
  width: 272px;
  margin-left: 40px;
}


.btn-warnings:hover{
  background-color: #f0bc00;
  transition: .5s;
}








/*Responsivo*/

@media (max-width: 432px) {
  .presentacion-fondo {
    padding: 30px 15px;
    height: 756px;
  }

  .presentacion-title {
    font-family: 'Oswald';
    padding-top: 200px;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #FFC700;
  }

  .presentacion-text {
    margin-top: 30px;
    font-size: 16px;
    margin-left: 25px;
    font-weight: 800;
    font-family: 'Open Sans';
    transform: translate(5%,170%);
  }

  .presentacion-subtext1 {
    font-size: 12px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Open Sans';  
    transform: translate(0%, -100%);
    font-weight: 400;
  }

  button {
    margin-top: -15px;
    margin-left: 100px;
    padding: 10px 20px;
    font-size: 16px;
    align-items: center;
  }

  .btn-warnings{
    width: 152px;
    height: 50px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Inter';
    transform: translate(0%, 80%);
  }

  .presentacion-imagen-1-mobile{
    height: 159px; 
    width: 181px;
    transform: translate(0%, 100%);
  }
  
  .presentacion-imagen-2-mobile {
    transform: translate(0%, 50%);
    height: 159px; 
    width: 181px;
  }
  
  .presentacion-imagen-3-mobile {
    transform: translate(109%, 55%);
    height: 159px; 
    width: 181px;
  }
}