.container-custom-repass {
    width: 832px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #070C33;
    color: #ffffff;
    padding: 2rem;
}

.reupdate-pass-title{
    font-size: 36px;
    font-weight: 400;
    font-family: 'Oswald';
}

.reupdate-pass-subtitle{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
}

.recontainer-custom-pass h1 {
    font-size: 1.8rem;
    font-weight: bold;
}



.reform-control-pass {
    border-radius: 20px;
    border: 1px solid #979797;
    margin-bottom: 1.5rem;
    padding: 0.7rem;
    width: 538px;
    background-color: #070C33;
    margin-left: 60px;
    margin-top: 20px;
    color: #9D9797;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
}

.rebtn-custom-pass {
    width: 450px;
    background-color: #FFC700;
    color: #05041E;
    font-family: 'Open Sans';
    border: none;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 700;
    padding: 0.7rem;
    margin-left: 100px;
    height: 63px;
}

.relabel-pass-update{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    margin-left: 65px;
    margin-top: 10px;
}

.rebtn-custom-pass:hover {
    background-color: #e0a800;
}

.reback-link-pass {
    color: #FFC700;
    text-decoration: none;
    margin-top: 1rem;
    font-size: 24PX;
    font-weight: 400;
    font-family: 'Roboto';
    text-decoration: none;
}

.reback-link-pass:hover {
    text-decoration: underline;
}

.logo-repass {
    margin-top: -200px;
    width: 367px;
    height: 198px;
    margin-bottom: 1.5rem;
}