@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.dashboard-izquierdo{
    width: 360px;
    background-color: #070C33;
    position: fixed;
    transform: translate(-210%, 0%);
    text-align: center;
}

.barra-superior-dashboard{
    width: 1900px;
    margin-left: 0px;
    background-color: #070C33;
    transform: translate(0%, 0%);
    position: fixed;
    z-index: 10;
    height: 96px;
}

.nav-link{
    color: #ffff;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 24px;
    text-align: left;
}

.nav-item{
    width: 328px;
    height: 72px;
}

.nav-item.active .nav-link {
    background-color: #FFC700;
    color: #070C33;
    font-weight: 700;
    border-radius: 8px; 
    margin-left: 20px;
    transition: 0.5s ease;
}

.nav-link:hover{
    color: #FFC700;
}

.icono-dashboard{
    margin-left: 63px;
}

.icono-dashboard2{
    margin-left: 70px;
}

.rol-dashboard{
    transform: translate(700%, 0%);
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 800;
}


.cerrar-sesion-dashboard{
    margin-top: 120px;
    margin-left: 45px;
}

.dashboard-inicio{
    margin-left: 40px;
}

.icono-dash{
    font-size: 28px;
    padding-right: 20px;
}

.icono-dash-ordenes{
    font-size: 28px;
    padding-right: 20px;
    margin-left: 44px;
}


.icono-dash-20{
    font-size: 28px;
    padding-right: 5px;
}

.icono-ventas{
    margin-left: 70px;
    margin-right: 35px;
}

.icono-otros{
    margin-left: -25px;
}

.contenido-dashboard{
    margin-left: 60px;
    background-color: rgb(179, 50, 50);
    width: 1545px;
    margin-top: 70px;
    height: auto;
    overflow-x: hidden; /* Oculta el scroll horizontal */
    
}