.empleado-panel{
    padding: 30px;
    padding-left: 54px;
    padding-top: 45px;
    background-color: #FFFF;
    color: black;   
    overflow-x: hidden; /* Oculta el scroll horizontal */
}

.header-empleados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.titulo-dashboard-empleado{
    font-weight: 700;
    font-family: 'Oswald';
    font-size: 40px;
    color: #000;
}

.agregar-empleado-panel{
    margin-top: -3.7px;
    margin-left: -40px;
    margin-bottom: -84px;
}

.columnas-btn{
    margin-bottom: 3px;
    margin-top: -5px;
    margin-left: -9px;
    font-family: 'Roboto';
    color: #a30505;
}

.columnas-btn-contenido{
    font-size: 18px;
}

.columnas-btns{
    width: 320px;
    height: 48px;
    font-family: 'Roboto';
    font-weight: 700;
}