# Ignorar node_modules
node_modules
npm-debug.log

# Ignorar archivos de desarrollo
.env
.env.local
.env.*.local

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar uploads locales (se usará volumen)
# uploads/*
# !uploads/.gitkeep
